.similarRestaurants {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
  }
  
  .restaurantCard {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 18%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .restaurantCard:hover {
    background-color: #ffefcc;
  }
  