.loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .loginForm {
    width: 35%;
   
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .loginForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .loginForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .loginForm button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginForm button:hover {
    background-color: #e68a00;
  }
  
  .imageSection {
    width: 50%;
    text-align: center;
  }
  
  .imageSection img {
    width: 100%;
    max-height: 80vh;
    border-radius: 8px;
  }
  
  p a{
    color: #e68a00;
  }