.registerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .registerForm {
    width: 35%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;  
    position: relative;
  }
  
  .registerForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .registerForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .registerForm button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .registerForm button:hover {
    background-color: #e68a00;
  }
  
  .imageSection {
    width: 50%;
    text-align: center;
  }
  
  .imageSection img {
    width: 100%;
    max-height: 80vh;
    border-radius: 8px;
  }
  
  p a {
    color: #e68a00;
  }
  
  .registerForm img {
    position: absolute;
    top: -40px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 120px; 
  }